html {
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    margin: 3%;
    text-align: center;
}

h1{
    font-family: Montserrat;
    font-size: 3em;
    padding-bottom: 1%;
    text-shadow: 5px 6px 10px #09c2c5;
    font-weight: bold;
    color: #ffffff;
}
p{
    font-family:Montserrat;
    font-size: 1.2em;
    font-weight: bold;
}
.row, input{
    background-color: #09c2c5;
    padding: 0.7%;
    margin: auto;
    margin-top: 1%;
    font-family:Montserrat;
    color: #ffffff;
}

#enviar{
    background-color: #09c2c5;
}