body{

display: flex;
align-items: center;
flex-direction: column;
background-color: aquamarine;
}

button{

    width: 110px;
    background-color: black;
    color: white;
    

}

p{

    padding-bottom: 10px;

}  

input{

box-shadow: 5px 5px;

}

#diag{

font-weight: bold;
font-size: 30px;
text-shadow: 5px 5px 10px white;

}

h1{

text-shadow: 3px 3px white;


}



