header,main{

display: flex;
flex-direction: column;
align-items: center;


}

button{

width: 95px;
border-bottom: white 25px;
color: royalblue;



}

body{

    background-color: darkgoldenrod;

}

img{

box-shadow: black 30px;

}